# Xcode
*.xcodeproj
DerivedData/

# data
*.3DS
*.tvr
**/pano8K_images
*.json
Resource/

# Result
Result/

# Code Blocks
*.cbp
*.depend
*.layout
bin/
obj/
cscope.out
*.cscope_file_list

# clion
.idea/
cmake-build-debug

# main
main.cpp
