#Xcode
*.xcodeproj
DerivedData/

#viewer
GeomViewer/misc_controls_trackball.html
GeomViewer/js/lib/
GeomViewer/threejs/


#data
*.3DS
*.tvr
**/pano8K_images
*.json
Resource/

#Result
Result/

#Code Blocks
*.cbp
*.depend
*.layout
bin/
obj/
cscope.out
*.cscope_file_list


